
<style>
    .footer {
        background-color: #ecc1c1;
        color: rgb(32, 27, 27);
        text-align: center;
        padding: 20px 0;
        margin-top: 50px;
    }
    .footer-links {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    .footer-links li {
        display: inline;
    }
    .footer-links a {
        color: rgb(28, 26, 26);
        text-decoration: none;
    }
    .footer-links a:hover {
        text-decoration: underline;
    }
    .social-icons a {
        color: rgb(28, 24, 24);
        font-size: 20px;
        margin: 0 10px;
    }
</style>
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="social-icons">
                <a href="https://www.facebook.com/people/Bp-Sanchori/pfbid02WFSqfaR9WApWXZAhwX1qEKjmfvEp3ywcKBXWMiFfQYN5taHWkub5Ax2W1VW88Ce1l/?mibextid=wwXIfr&rdid=9i9AFsOlKftIxidr&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F169LgpGaSH%2F%3Fmibextid%3DwwXIfr"><i class="fab fa-facebook"></i></a>
                <a href="https://x.com/bp_sanchori?s=21"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/itz_bp_sanchori?igsh=MWlna2syMW5teDV5ag%3D%3D&utm_source=qr"><i class="fab fa-instagram"></i></a>
            </div>
            <p>&copy; 2025 Book My Hotal. All Rights Reserved.</p>
            
        </div>
    </div>
</footer>



<!-- FontAwesome for Social Icons -->
<script src="https://kit.fontawesome.com/YOUR_KIT_CODE.js" crossorigin="anonymous"></script>
